@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var admin = await userManager.GetUserAsync(User);
}

<aside class="page-sidebar">
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="~/assets/img/logo.png" alt="MudahMed" aria-roledescription="logo">
            <span class="page-logo-text mr-1">MudahMed</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <ul id="js-nav-menu" class="nav-menu">
            <li>
                <a href="#" title="Application Intel" data-filter-tags="application intel" >
                    <i class="fal fa-info-circle"></i>
                    <span class="nav-link-text" data-i18n="nav.application_intel">User Management</span>
                </a>
                <ul>
                    <li>
                        <a href="/admin/auth/list-roles" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
                            <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">System User Role</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-system-user" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
                            <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">System User</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-employer-user" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
                            <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Corporate User</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-clinic-user" title="Marketing Dashboard" data-filter-tags="application intel marketing dashboard">
                            <span class="nav-link-text" data-i18n="nav.application_intel_marketing_dashboard">Clinic User</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Corporate Management</span>
                </a>
                <ul>         
                    <li>
                        <a href="/admin/corpgroup/list-corpgroups" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Group Corporation</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/corp/list-corps" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Corporation</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Clinic Management</span>
                </a>
                <ul>
                    <li>
                        <a href="/admin/clinic/list-clinics" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Setup Clinic</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/drug/list-drugs" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Setup Drugs</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/diagnosis/list-diagnosis" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Setup Diagnosis</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Member Management</span>
                </a>
                <ul>
                    <li>
                        <a href="/register-employer/register" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Register Member</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/apply-employer/3" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">All Member</span>
                        </a>
                    </li>
                    <li>
                        <a href="/register-employer/register" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Register Dependents</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/apply-employer/3" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">All Dependents</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Miscellaneous</span>
                </a>
                <ul>
                    <li>
                        <a href="/admin/bank/list-banks" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Setup Bank</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/industryField/list-industryFields" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Setup Industry Field</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/codemaster/list-codemasters" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">Code Master</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
@*         <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                    <i class="fal fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                    <i class="fal fa-life-ring"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                    <i class="fal fa-phone"></i>
                </a>
            </li>
        </ul> *@
    </div> <!-- END NAV FOOTER -->
</aside>