@model MudahMed.Data.ViewModel.Clinic.ClinicViewModel

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb" id="breadcrumb">
        <!-- Breadcrumb items will be appended here -->
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Edit Clinic
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form method="post" enctype="multipart/form-data" id="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-6">
                                <!------------------------------------- Clinic Information ------------------------------------------>
                                <h5>Clinic Information</h5>
                                <div class="form-row">

                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicName" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="ClinicName" class="form-control" />
                                        <span asp-validation-for="ClinicName" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicAddr1" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="ClinicAddr1" class="form-control" />
                                        <span asp-validation-for="ClinicAddr1" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicAddr2" class="form-label"></label>
                                        <input asp-for="ClinicAddr2" class="form-control" />
                                        <span asp-validation-for="ClinicAddr2" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicAddr3" class="form-label"></label>
                                        <input asp-for="ClinicAddr3" class="form-control" />
                                        <span asp-validation-for="ClinicAddr3" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="Postcode" class="form-label"></label>
                                        <input asp-for="Postcode" class="form-control" />
                                        <span asp-validation-for="Postcode" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="City" class="form-label"></label>
                                        <input asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="State" class="form-label"></label>
                                        <input asp-for="State" class="form-control" />
                                        <span asp-validation-for="State" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="Country" class="form-label"></label>
                                        <input asp-for="Country" class="form-control" />
                                        <span asp-validation-for="Country" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ContactPerson" class="form-label"></label>
                                        <input asp-for="ContactPerson" class="form-control" />
                                        <span asp-validation-for="ContactPerson" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicContactNo" class="form-label"></label>
                                        <input asp-for="ClinicContactNo" class="form-control" />
                                        <span asp-validation-for="ClinicContactNo" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicFax" class="form-label"></label>
                                        <input asp-for="ClinicFax" class="form-control" />
                                        <span asp-validation-for="ClinicFax" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicRegNo" class="form-label"></label>
                                        <input asp-for="ClinicRegNo" class="form-control" />
                                        <span asp-validation-for="ClinicRegNo" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicTIN" class="form-label"></label>
                                        <input asp-for="ClinicTIN" class="form-control" />
                                        <span asp-validation-for="ClinicTIN" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="Handphone" class="form-label"></label>
                                        <input asp-for="Handphone" class="form-control" />
                                        <span asp-validation-for="Handphone" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="RenderedService" class="form-label"></label>
                                        <input asp-for="RenderedService" class="form-control" />
                                        <span asp-validation-for="RenderedService" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicEmail" class="form-label"></label>
                                        <input asp-for="ClinicEmail" class="form-control" type="email" />
                                        <span asp-validation-for="ClinicEmail" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicContMMC" class="form-label"></label>
                                        <input asp-for="ClinicContMMC" class="form-control" />
                                        <span asp-validation-for="ClinicContMMC" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicContOHD" class="form-label"></label>
                                        <input asp-for="ClinicContOHD" class="form-control" type="number" step="any" />
                                        <span asp-validation-for="ClinicContOHD" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="SSMNo" class="form-label"></label>
                                        <input asp-for="SSMNo" class="form-control" type="number" step="any" />
                                        <span asp-validation-for="SSMNo" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- Clinic Status ------------------------------------------>
                            <div class="mb-6">
                                <h5>Clinic Status</h5>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ClinicGroup" class="form-label"></label>
                                        <input asp-for="ClinicGroup" class="form-control" />
                                        <span asp-validation-for="ClinicGroup" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PanelType" class="form-label"></label>
                                        <input asp-for="PanelType" class="form-control" />
                                        <span asp-validation-for="PanelType" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="RecruitDate" class="form-label"></label>
                                        <div class="col-12 col-lg-6">
                                            <div class="input-group">
                                                <input asp-for="RecruitDate" type="text" class="form-control " readonly id="datepicker-3">
                                                <div class="input-group-append">
                                                    <span class="input-group-text fs-xl">
                                                        <i class="fal fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="RecruitDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="RemovedDate" class="form-label"></label>
                                        <div class="col-12 col-lg-6">
                                            <div class="input-group">
                                                <input asp-for="RemovedDate" type="text" class="form-control " readonly id="datepicker-3-1">
                                                <div class="input-group-append">
                                                    <span class="input-group-text fs-xl">
                                                        <i class="fal fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="RemovedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- Bank Information ------------------------------------------>
                            <div class="mb-6">
                                <h5>Bank Information</h5>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="BankID" class="form-label"></label>
                                            <select asp-for="BankID" class="form-control" asp-items="ViewBag.BankId"></select>
                                            @*     <select asp-for="BankID" class="select2 form-control w-100" id="single-default">
                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                            @foreach (var item in ViewBag.BankId)
                                            {
                                            <option value="@item.Value">@item.Text</option>
                                            }
                                            </optgroup>
                                            </select> *@
                                            <span asp-validation-for="BankID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="BankAccNo" class="form-label"></label>
                                        <input asp-for="BankAccNo" class="form-control" type="number" step="any" />
                                        <span asp-validation-for="BankAccNo" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-2">
                                        <label asp-for="PayeeName" class="form-label"></label>
                                        <input asp-for="PayeeName" class="form-control" />
                                        <span asp-validation-for="PayeeName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- Doctor Information ------------------------------------------>
                            <div class="mb-6">
                                <h5>Doctor Information</h5>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc1" class="form-label"></label>
                                        <input asp-for="PermanentDoc1" class="form-control" />
                                        <span asp-validation-for="PermanentDoc1" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc1MMC" class="form-label"></label>
                                        <input asp-for="PermanentDoc1MMC" class="form-control" />
                                        <span asp-validation-for="PermanentDoc1MMC" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc1" class="form-label"></label>
                                        <input asp-for="LocumDoc1" class="form-control" />
                                        <span asp-validation-for="LocumDoc1" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc1MMC" class="form-label"></label>
                                        <input asp-for="LocumDoc1MMC" class="form-control" />
                                        <span asp-validation-for="LocumDoc1MMC" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc1OHD" class="form-label"></label>
                                        <input asp-for="PermanentDoc1OHD" class="form-control" />
                                        <span asp-validation-for="PermanentDoc1OHD" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc1OHD" class="form-label"></label>
                                        <input asp-for="LocumDoc1OHD" class="form-control" />
                                        <span asp-validation-for="LocumDoc1OHD" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc2" class="form-label"></label>
                                        <input asp-for="PermanentDoc2" class="form-control" />
                                        <span asp-validation-for="PermanentDoc2" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc2MMC" class="form-label"></label>
                                        <input asp-for="PermanentDoc2MMC" class="form-control" />
                                        <span asp-validation-for="PermanentDoc2MMC" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc2" class="form-label"></label>
                                        <input asp-for="LocumDoc2" class="form-control" />
                                        <span asp-validation-for="LocumDoc2" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc2MMC" class="form-label"></label>
                                        <input asp-for="LocumDoc2MMC" class="form-control" />
                                        <span asp-validation-for="LocumDoc2MMC" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="PermanentDoc2OHD" class="form-label"></label>
                                        <input asp-for="PermanentDoc2OHD" class="form-control" />
                                        <span asp-validation-for="PermanentDoc2OHD" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LocumDoc2OHD" class="form-label"></label>
                                        <input asp-for="LocumDoc2OHD" class="form-control" />
                                        <span asp-validation-for="LocumDoc2OHD" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- Location Information ------------------------------------------>
                            <div class="mb-6">
                                <h5>Location Information</h5>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="Latitude" class="form-label"></label>
                                        <input asp-for="Latitude" class="form-control" value="0" type="number" />
                                        <span asp-validation-for="Latitude" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="Longitude" class="form-label"></label>
                                        <input asp-for="Longitude" class="form-control" value="0" type="number" step="any" />
                                        <span asp-validation-for="Longitude" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- Services Information ------------------------------------------>
                            <div class="mb-6">
                                <h5>Services Information</h5>
                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="Is24Hour" class="form-label"></label>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="Is24Hour" asp-for="Is24Hour" />
                                            <label class="custom-control-label" for="Is24Hour">Checked</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsXray" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsXray" asp-for="IsXray" />
                                            <label class="custom-control-label" for="IsXray">Xray</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsPapSme" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsPapSme" asp-for="IsPapSme" />
                                            <label class="custom-control-label" for="IsPapSme">Pap Sme</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsXrayReader" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsXrayReader" asp-for="IsXrayReader" />
                                            <label class="custom-control-label" for="IsXrayReader">Xray Reader</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsPCD" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsPCD" asp-for="IsPCD" />
                                            <label class="custom-control-label" for="IsPCD">PCD</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsIVD" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsIVD" asp-for="IsIVD" />
                                            <label class="custom-control-label" for="IsIVD">IVD</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsOT" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsOT" asp-for="IsOT" />
                                            <label class="custom-control-label" for="IsOT">OT</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsCPR" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsCPR" asp-for="IsCPR" />
                                            <label class="custom-control-label" for="IsCPR">CPR</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsENT" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsENT" asp-for="IsENT" />
                                            <label class="custom-control-label" for="IsENT">ENT</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsUFEME" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsUFEME" asp-for="IsUFEME" />
                                            <label class="custom-control-label" for="IsUFEME">UFEME</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsAvailAN" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsAvailAN" asp-for="IsAvailAN" />
                                            <label class="custom-control-label" for="IsAvailAN">Avail AN</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsAvailMS" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsAvailMS" asp-for="IsAvailMS" />
                                            <label class="custom-control-label" for="IsAvailMS">Avail MS</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsAvailMC" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsAvailMC" asp-for="IsAvailMC" />
                                            <label class="custom-control-label" for="IsAvailMC">Avail MC</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsSpiro" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsSpiro" asp-for="IsSpiro" />
                                            <label class="custom-control-label" for="IsSpiro">Spiro</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsAudF" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsAudF" asp-for="IsAudF" />
                                            <label class="custom-control-label" for="IsAudF">Aud F</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsLocDoc" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsLocDoc" asp-for="IsLocDoc" />
                                            <label class="custom-control-label" for="IsLocDoc">Loc Doc</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsOHDDoc" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsOHDDoc" asp-for="IsOHDDoc" />
                                            <label class="custom-control-label" for="IsOHDDoc">OHD Doc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsECG" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsECG" asp-for="IsECG" />
                                            <label class="custom-control-label" for="IsECG">ECG</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsFBHAM" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsFBHAM" asp-for="IsFBHAM" />
                                            <label class="custom-control-label" for="IsFBHAM">FBHAM</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsAvailFMDoc" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsAvailFMDoc" asp-for="IsAvailFMDoc" />
                                            <label class="custom-control-label" for="IsAvailFMDoc">Avail FM Doc</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsNebulizer" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsNebulizer" asp-for="IsNebulizer" />
                                            <label class="custom-control-label" for="IsNebulizer">Nebulizer</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsUltraSound" class="form-label"></label>

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsUltraSound" asp-for="IsUltraSound" />
                                            <label class="custom-control-label" for="IsUltraSound">Ultra Sound</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LastModifiedBy" class="form-label"></label>
                                        <label asp-for="LastModifiedBy" class="form-label">@Model.LastModifiedBy</label>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="LastModifiedDate" class="form-label"></label>
                                        <label asp-for="LastModifiedDate" class="form-label">@Model.LastModifiedDate</label>
                                    </div>
                                </div>
                            </div>
                            <!-- You can add more items to the second column if needed -->
                            <div class="col-md-12">
                                <div class="frame-wrap">
                                    <div class="demo">
                                        <button class="btn btn-primary ml-auto" type="submit" value="Save">Save</button>
                                        <a class="btn btn-primary ml-auto" style="background-color: gray;" href="/admin/clinic/list-clinics">
                                            Back to List
                                        </a>
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
