@model MudahMed.Data.ViewModel.Clinic.DrugViewModel

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb" id="breadcrumb">
        <!-- Breadcrumb items will be appended here -->
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Create Drug
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form asp-action="CreateDrug" method="post" id="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-6">
                                <!------------------------------------- Drug Information ------------------------------------------>

                                <h5>Drug Information</h5>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugID" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="DrugID" class="form-control" />
                                        <span asp-validation-for="DrugID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugType_CodeFK" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="DrugType_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugType_CodeFK" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugCatFFS_CodeFK" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="DrugCatFFS_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugCatFFS_CodeFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugDesc" class="form-label"></label><span class="text-danger">*</span>
                                        <input asp-for="DrugDesc" class="form-control" />
                                        <span asp-validation-for="DrugDesc" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ATCClass" class="form-label"></label>
                                        <input asp-for="ATCClass" class="form-control" />
                                        <span asp-validation-for="ATCClass" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugMIMSClass_CodeFK" class="form-label"></label>
                                        <input asp-for="DrugMIMSClass_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugMIMSClass_CodeFK" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="GenericName" class="form-label"></label>
                                        <input asp-for="GenericName" class="form-control" />
                                        <span asp-validation-for="GenericName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugRoute_CodeFK" class="form-label"></label>
                                        <input asp-for="DrugRoute_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugRoute_CodeFK" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugUnit_CodeFK" class="form-label"></label>
                                        <input asp-for="DrugUnit_CodeFK" class="form-control"  />
                                        <span asp-validation-for="DrugUnit_CodeFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="ICDCode" class="form-label"></label>
                                        <input asp-for="ICDCode" class="form-control" />
                                        <span asp-validation-for="ICDCode" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugChrgField_CodeFK" class="form-label"></label>
                                        <input asp-for="DrugChrgField_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugChrgField_CodeFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="DrugPoisonFFS_CodeFK" class="form-label"></label>
                                        <input asp-for="DrugPoisonFFS_CodeFK" class="form-control" />
                                        <span asp-validation-for="DrugPoisonFFS_CodeFK" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="UnitPrice" class="form-label"></label>
                                        <input asp-for="UnitPrice" class="form-control" />
                                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="MaxQty" class="form-label"></label>
                                        <input asp-for="MaxQty" class="form-control" />
                                        <span asp-validation-for="MaxQty" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="MaxPrice" class="form-label"></label>
                                        <input asp-for="MaxPrice" class="form-control"  />
                                        <span asp-validation-for="MaxPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label asp-for="CeilingPrice" class="form-label"></label>
                                        <input asp-for="CeilingPrice" class="form-control"  />
                                        <span asp-validation-for="CeilingPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsChronic" class="form-label"></label>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsChronic" asp-for="IsChronic" />
                                            <label class="custom-control-label" for="IsChronic">Is Chronic</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label asp-for="IsExclusion" class="form-label"></label>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsExclusion" asp-for="IsExclusion" />
                                            <label class="custom-control-label" for="IsExclusion">Is Exclusion</label>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="mb-6">
                                <div class="frame-wrap">
                                    <div class="demo">
                                        <button class="btn btn-primary ml-auto" type="submit" value="Save">Save</button>
                                        <a class="btn btn-primary ml-auto" style="background-color: gray;" href="/admin/drug/list-drugs">
                                            Back to List
                                        </a>
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
