@model MudahMed.Data.ViewModel.User.RegisterViewModel

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb" id="breadcrumb">
        <!-- Breadcrumb items will be appended here -->
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Register
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form asp-action="Register" method="post" id="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FullName" class="form-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="form-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="form-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <input asp-for="UserRole" type="hidden" />
                            @if (Model.UserRole != "Lmr78n88gtdVSWp8Ge8Krw==")
                            {
                                <div class="form-group">
                                    @if (Model.UserRole == "oLZfn9xWbAlt1mHvYXkkMQ==")
                                    {
                                        <label  class="form-label">Corporate</label>
                                        <select asp-for="RefId" class="form-control" asp-items="ViewBag.CorpId"></select>
                                    }
                                    else if (Model.UserRole == "kmLeOFkjPzNLf4JLpETPTQ==")
                                    {
                                        <label  class="form-label">Clinic</label>
                                        <select asp-for="RefId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                                    }
                                    else
                                    {
                                        <select asp-for="RefId" class="form-control"></select>
                                    }
                                </div>
                            }
                            <div class="form-group">
                                <label asp-for="TwoFactorEnabled" class="form-label"></label>
                                <input asp-for="TwoFactorEnabled" class="form-control" />
                                <span asp-validation-for="TwoFactorEnabled" class="text-danger"></span>
                            </div>
                            <div class="frame-wrap">
                                <div class="demo">
                                    <button class="btn btn-primary ml-auto" type="submit" onclick="onCreate(event)" value="Register">Register</button>
                                    <a class="btn btn-primary ml-auto" style="background-color: gray;" href="javascript:void(0);" onclick="history.back();">
                                        Back to List
                                    </a>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function onCreate(event) {
            // Prevent default form submission
            event.preventDefault();

            Swal.fire({
                title: 'Register?',
                text: "Are you sure to register?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submit the form
                    $("#form").submit();

                    // Check for validation errors after a slight delay
                    setTimeout(function () {
                        // Check if the form has validation errors
                        if ($(".text-danger").length === 0) {
                            Swal.fire(
                                'Success!',
                                '',
                                'success'
                            );
                        }
                    }, 100); // Adjust the delay if necessary
                }
            });
        }
    </script>
}
